@font-face {
  font-family: "LeagueSpartan-Bold";
  src:
    url("/app/themes/dream-defenders/assets/fonts/leaguespartan-bold.otf") format("opentype"),
    url("/app/themes/dream-defenders/assets/fonts/leaguespartan-bold.woff") format("woff"),
    url("/app/themes/dream-defenders/assets/fonts/leaguespartan-bold.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Agipo-Regular";
  src:
    url("/app/themes/dream-defenders/assets/fonts/Agiporegular.otf") format("opentype"),
    url("/app/themes/dream-defenders/assets/fonts/Agiporegular.woff") format("woff"),
    url("/app/themes/dream-defenders/assets/fonts/Agiporegular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src:
    local(".SFNSText-Light"),
    local(".HelveticaNeueDeskInterface-Light"),
    local(".LucidaGrandeUI"),
    local("Ubuntu Light"),
    local("Segoe UI Light"),
    local("Roboto-Light"),
    local("DroidSans"),
    local("Tahoma");
}
