/**
 * Rama Gothic C Bold
 *
 * font-family: rama-gothic-c, sans-serif;
 * font-weight: 700;
 * font-style: normal;
 **/
@import url("https://use.typekit.net/len4son.css");

/**
 * League Spartan Bold
 **/
@font-face {
  font-family: "LeagueSpartan-Bold";
  src:
    url("../fonts/leaguespartan-bold.woff") format("woff"),
    url("../fonts/leaguespartan-bold.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/**
 * System Fonts
 **/
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src:
    local(".SFNSText-Light"),
    local(".HelveticaNeueDeskInterface-Light"),
    local(".LucidaGrandeUI"),
    local("Ubuntu Light"),
    local("Segoe UI Light"),
    local("Roboto-Light"),
    local("DroidSans"),
    local("Tahoma");
}
