%listreset {
  margin: 0;
  padding: 0;
  list-style: none;
}

%clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.clearfix {
  @extend %clearfix;
}

.league-font {
  font-family: $league;
}

%transition {
  transition: all 0.3s ease-in-out;
}

// justify nav
%justify {
  text-align: justify;
  font-size: 1px;
  line-height: 0;

  > * {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-size: $font-size-base;
    line-height: $line-height-base;
  }

  &::after {
    content: "";
    width: 100%;
    display: inline-block;
    vertical-align: top;
  }
}

.ellipsis {
  white-space: nowrap; /* 1 */
  text-overflow: ellipsis; /* 2 */
  overflow: hidden;
}
