$black: #000;
$gray: #808080;
$dark-gray: #33342f;
$white: #fff;
$blue: #2759b7;
$transparent: rgba(0, 0, 0, 0);
$cyan: #0093d3;
$magenta: #ff0093;
$yellow: #fff10c;

$footer-color: #191919;

$base-font-sans-serif: "Roboto", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
$base-font-serif: "Agipo-Regular", "Times New Roman", "Times", "Baskerville", "Georgia", serif;
$league: "LeagueSpartan-Bold", sans-serif;

// This is the default html and body font-size for the base rem value.
$rem-base: 16px;

// Body
$base-text-color: $black;
$base-background-color: $white;
$font-size-base: 1rem;
$line-height-base: 1.5;
$base-font-family: $base-font-serif;

$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 320px;

// Links
$accent-color: $blue;
$base-link-color: $blue;

// Buttons
$btn-color: $white;
$btn-background: $black;
$btn-padding: 0.4em 0.7em;
$btn-font-size: inherit;
$btn-font-family: $league;

// Forms
$form-element-padding: $btn-padding;
$form-element-border-color: $gray;
$form-element-focus-border-color: $black;
$placeholder-color: $gray;

// Headings
$h1-font-size: 3.157rem;
$h2-font-size: 2.369rem;
$h3-font-size: 1.777rem;
$h4-font-size: 1.333rem;
$h5-font-size: 17px;
$h6-font-size: 15px;

$headings-font-family: inherit;
$headings-color: inherit;

$animation-speed: 0.3s;
