// Settings
// ==================================================
$hamburger-padding-x: 15px;
$hamburger-padding-y: 15px;
$hamburger-layer-width: 40px;
$hamburger-layer-height: 4px;
$hamburger-layer-spacing: 6px;
$hamburger-layer-color: #fff;
$hamburger-layer-border-radius: 4px;
$hamburger-hover-opacity: 0.7;
$hamburger-hover-transition-duration: 0.15s;
$hamburger-hover-transition-timing-function: linear;
$hamburger-hover-use-filter: false;
$hamburger-hover-filter: opacity(50%);
$hamburger-types: (
  spin,
  spin-r
);

// Base Hamburger (We need this)
// ==================================================
@import "hamburgers-base";

// Hamburger types
// ==================================================
@import "hamburgers-spin";
@import "hamburgers-spin-r";
