##
# Project
##
**/*.db
**/.env
**/.env.*
**/*.log
**/vendor
**/node_modules
support/tests/cypress/videos/*
support/tests/cypress/screenshots/*

##
# Trellis
##
trellis/.vault_pass
trellis/.vagrant
trellis/vagrant.local.yml
trellis/vendor/roles
trellis/*.py[co]
trellis/*.retry

##
# Bedrock
##
bedrock/web/app/plugins/*
bedrock/web/app/mu-plugins/*/
bedrock/web/app/upgrade
bedrock/web/app/uploads/*
!bedrock/web/app/plugins/.gitkeep
!bedrock/web/app/uploads/.gitkeep

# WordPress
bedrock/web/wp
bedrock/web/.htaccess

# WP-CLI
bedrock/wp-cli.local.yml

# IP & Data
bedrock/scripts
bedrock/web/app/updraft
bedrock/backups/*

##
# Acorn
##
**/storage/framework/views/*

##
# Clover
##
!bedrock/web/app/plugins/support
bedrock/web/app/plugins/support/dist
bedrock/web/app/plugins/support/src

##
# Sage
##
bedrock/web/app/themes/sage/dist
bedrock/web/app/themes/sage/src
