# Artifacts
node_modules
vendor
*.log
.env
.env.*
!.env.example
database
web/app/cache
!web/app/cache/.gitignore
!web/app/cache/wp-rocket/.gitignore
*.sql
*.sql.gz
tmp

# Auth
auth.json

# Cypress
cypress/screenshots/*
!cypress/screenshots/.gitkeep
cypress/videos/*
!cypress/videos/.gitkeep

# Application
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# WP-CLI
wp-cli.local.yml

# Theme
web/app/themes/theme

# Plugins
web/app/plugins/*
!web/app/plugins/dream-defenders-blocks
!web/app/plugins/dream-defenders-blocks/*
!web/app/plugins/.gitkeep

# MU-Plugins
web/app/mu-plugins/*
!web/app/mu-plugins/bedrock-health
!web/app/mu-plugins/tinypixel-branding
!web/app/mu-plugins/tiny-blocks
!web/app/mu-plugins/tiny-blocks/*
!web/app/mu-plugins/.gitkeep
!web/app/mu-plugins/bedrock-autoloader.php
!web/app/mu-plugins/disallow-indexing.php
!web/app/mu-plugins/register-theme-directory.php
!web/app/mu-plugins/plugin-manifest

*.sql
