.post-index {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  background-size: cover;
  background-attachment: fixed;

  > div {
    width: 100%;
    display: block;
    background-size: cover;
    background-attachment: fixed;

    @media screen and (min-width: $breakpoint-not-small) {
      width: 200px;
      max-width: 50%;
      flex-wrap: wrap;
      flex-grow: 1;
    }

    @media screen and (max-width: $breakpoint-not-small) {
      width: 100vw;
      flex-wrap: wrap;
      flex-grow: 1;
    }

    article {
      @include pa6;

      .posted {
        @include white;
        @include tr;
        @include dib;
        @include w-100;
        @include mb1;
      }

      time {
        @include black;
        @include bg-yellow;
        @include pv1;
        @include ph2;
        @include f6;
        @include mb1;
        @include dib;
        @include mt3;
        @include o-50;

        border-radius: 45px;
      }

      h2 {
        @include ttu;
        @include font-league;
        @include f2;
        @include mt0;
        @include w-80;
        @include pt2;
        @include tracked;

        a {
          background:
            linear-gradient(
              to bottom,
              $white 0%,
              $white 100%
            );
          color: $white;
          background-position: 20% 80%;
          background-repeat: repeat-x;
          background-size: 4px 2px;
          text-decoration: none;
          transition: background-size 0.2s;

          @include lh-copy;
          @include pa1;
        }

        a:hover {
          background-size: 4px 60px;
          transition: background-size 0.2s;

          @include black;
        }
      }

      .entry-summary p {
        @include sans-serif;
        @include lh-copy;
        @include f4;

        letter-spacing: 0.1ch;
      }
    }

    * {
      @include white;
    }
  }
}
