.footer {
  @include color-base;
  @include color-mods;
  @include overlay-element;
  @include caution;

  &__inner {
    @include color-base;
    @include color-mods;
    @include overlay-element;
  }
}

.footer-links-container,
.social-icons-container {
  display: flex;
  justify-content: center;

  .footer-link {
    @extend %transition;

    @include justify-around;
    @include pv1;
    @include ph2;
    @include sans-serif;
    @include black;
    @include ttu;
    @include no-underline;
    @include fw9;

    &:hover {
      @extend %transition;

      @include white;
      @include bg-black;
    }
  }
}

.social-icon-link {
  @extend %transition;

  display: block;
  padding: 1rem;
  margin: 1rem;
  width: 4rem;
  height: 4rem;
  background-color: $black;
  color: $black;
  border-radius: 50%;
  opacity: 0.9;

  svg {
    fill: $white;
    transform: scale(1);

    g {
      @extend %transition;

      fill: $white;
    }
  }

  &:hover {
    background-color: $white;
    opacity: 1;

    svg {
      @extend %transition;

      fill: $black;
      transform: scale(1.2);

      g {
        fill: $black;
      }
    }
  }
}
