.footer {
  @include color-mods;
  @include overlay-element;
}

.site__footer-link {
  @extend %transition;

  color: $yellow;
  font-family: $base-font-sans-serif;
  font-family: $league;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.75;

  &:not(:last-child) {
    margin-right: 2rem;
  }

  &:hover {
    opacity: 1;
  }
}

.footer-links-container,
.social-icons-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.social-icons-container {
  text-align: center;
}

.social-icon-link {
  @extend %transition;

  background-color: $white;
  color: $footer-color;
  font-size: 1.3rem;
  display: block;
  border-radius: 50%;
  line-height: 2rem;
  opacity: 0.8;
  min-width: 2rem;
  max-width: 2rem;
  min-height: 2rem;
  max-height: 2rem;

  &:not(:last-child) {
    margin-right: 0.6rem;
  }

  &:hover {
    background-color: $yellow;
  }
}
