.hero {
  @include color-mods;
  @include overlay-element;

  &__bg-center {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }

  &__content {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }

  &__heading {
    @include font-league;

    font-size: $h1-font-size;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: var(--content-color);

    &-paired {
      margin-bottom: 0.5rem;
    }
  }

  &__subheading {
    @include font-agipo;

    font-size: $h3-font-size;
    color: var(--content-color);
  }

  &__button {
    @extend %transition;

    @include font-league;

    margin: 3rem 0;
    padding:
      0.75rem
      1.5rem
      0.5rem
      1.5rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--content-color);
    background-color: $transparent;
    border: 3px solid var(--content-color);

    &:hover {
      color: $black;
      background-color: var(--content-color);
    }
  }

  label {
    background: transparent;
    color: $white;
  }

  /**
   * Forms Hero
   **/
  .inner__content-contained {
    .hero__form.primary {
      width: 28rem;
      max-width: 100%;
    }

    .acf-form > .acf-form {
      @include justify-end;

      width: 100%;
      max-width: 36rem;
    }

    .acf-fields > .acf-field {
      display: block;
      flex-direction: column;
      border: none;
      padding: 0.5rem 0;
      width: 100%;
      max-width: 36rem;
    }

    .acf-notice.-error {
      background: $dark-red;
      border-color: $white;
      color: $white;
      opacity: 1;

      &:hover {
        background: darken($dark-red, 1);
      }
    }

    .acf-field.acf-notice.-error {
      background: $dark-red;
      border-color: $white;
      color: $white;
      opacity: 1;

      &:hover {
        background: darken($dark-red, 1);
      }
    }

    .acf-field input[type="text"],
    .acf-field input[type="password"],
    .acf-field input[type="number"],
    .acf-field input[type="search"],
    .acf-field input[type="email"],
    .acf-field input[type="url"],
    .acf-field textarea,
    .acf-field select {
      background: transparent;
      border: 3px solid white;
      padding: 1rem 1rem;
      color: $white;

      &::placeholder {
        color: rgba(255, 255, 255, 0.8);
      }
    }

    .acf-input-wrap input {
      height: 2.4rem;
    }

    .af-submit {
      padding-left: 0;
    }

    .acf-button.af-submit-button {
      @extend %transition;

      @include font-league;

      margin-left: 0;
      padding: 0.5rem 1rem 0.25rem 1rem;
      border: 2px solid $white;
      color: $white;
      background: transparent;

      &:hover {
        color: $black;
        background: $white;
      }
    }
  }

  /**
   * Freedom Paper
   **/
  &__excerpt {
    @include white;
  }

  .term__description p {
    @include white;
    @include f5;
  }

  transition: transform 0.3s ease-in-out;
}
