.hero {
  @include color-mods;
  @include overlay-element;

  &__bg-center {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }

  &__content {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }

  &__heading {
    @include font-league;

    font-size: $h1-font-size;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: var(--content-color);

    &-paired {
      margin-bottom: 0.5rem;
    }
  }

  &__subheading {
    @include font-agipo;

    font-size: $h3-font-size;
    color: var(--content-color);
  }

  &__button {
    @extend %transition;

    @include font-league;

    margin: 3rem 0;
    padding:
      0.75rem
      1.5rem
      0.5rem
      1.5rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--content-color);
    background-color: $transparent;
    border: 3px solid var(--content-color);

    &:hover {
      color: $black;
      background-color: var(--content-color);
    }
  }
}
