.cta {
  @include color-mods;
  @include overlay-element;

  position: relative;
  background-position: center center;
  background-size: cover;
  min-height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.cta__content {
  justify-content: center;

  .newsletter-text {
    display: flex;
    padding: 3em 0;
    justify-content: space-between;
    align-items: center;
    padding-top: 3em;
  }
}

.cta__heading {
  text-align: center;

  h2 {
    font-family: $league;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3.6em;
  }
}

.cta__subheading {
  text-align: -webkit-center;

  @include media("<tablet") {
    width: 95%;
    padding: 1em 0;
  }

  h4 {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: $league;
    font-size: 1.25em;
  }
}

.cta__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.cta__image {
  width: 60%;

  @include media("<tablet") {
    display: none;
  }
}

.cta__form {
  color: white;
  position: relative;
  padding: 3em 0;

  .salesforce_w2l_lead.sf_one_column {
    width: 100%;
  }
}
