
.newsletter-containter {
  --newsletter-button-color: $white;
  --newsletter-overlay-color: rgba(0, 0, 0, 0.5);

  position: relative;
  background-position: center center;
  background-size: cover;
  min-height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  @include media("<tablet") {
    flex-direction: column;
    align-items: center;
  }
}

.newsletter-overlay {
  background-color: var(--newsletter-overlay-color, rgba(0, 0, 0, 0.5));
  width: 100%;
  height: 100%;
}

.newsletter-content {
  width: 40%;
  align-items: flex-start;
  height: 100%;
  justify-content: center;

  @include media("<tablet") {
    width: 95% !important;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 1em 0;
  }

  @include media(">phone") {
    padding: 2em 2.625em;
  }

  .newsletter-text {
    display: flex;
    padding: 3em 0;
    justify-content: space-between;
    align-items: center;
    padding-top: 3em;

    @include media("<tablet") {
      flex-direction: column;
      margin-right: 0;
      width: 95%;
      padding: 1em 0;
    }
  }

  @include media("<tablet") {
    text-align: -webkit-center;
    width: auto;
  }
}

.newsletter-headline {
  text-align: center;

  @include media("<tablet") {
    width: 95%;
    text-align: center;
    padding: 1em 0;
  }

  h2 {
    font-family: $league;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3.6em;

    @include media("<tablet") {
      font-size: 2.5em;
    }
  }
}

.newsletter-subheading {
  text-align: -webkit-center;

  @include media("<tablet") {
    width: 95%;
    padding: 1em 0;
  }

  h4 {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: $league;
    font-size: 1.25em;
  }
}

.newsletter-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.newsletter-image {
  width: 60%;

  @include media("<tablet") {
    display: none;
  }
}

.newsletter-form {
  color: white;
  position: relative;
  padding: 3em 0;

  @include media("<tablet") {
    width: 95%;
    padding: 0;
  }

  .salesforce_w2l_lead.sf_one_column {
    width: 100%;
  }
}
