.post-hero-container {
  --post-hero-button-color: $white;
  --post-hero-overlay-color: rgba(0, 0, 0, 0.5);

  position: relative;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  max-height: 40vh;
  height: 40vh;

  @include media("<tablet") {
    max-height: 40vh;
    height: 40vh;
    min-height: 0;
  }

  @media only screen and (orientation: landscape) {
    min-height: 300px !important;
  }
}

.post-hero-overlay {
  background-color: var(--post-hero-overlay-color, rgba(0, 0, 0, 0.5));
  width: 100%;
  height: 100%;
}

.post-hero-content {
  box-sizing: border-box;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 100%;

  @include media(">phone") {
    padding: 0 2.625rem;
  }

  @include media(">=75rem") {
    width: 75rem;
    padding: 0;
  }

  @include media(">=tablet") {
    &.left {
      align-items: flex-start;
      text-align: left;
    }

    &.center {
      align-items: center;
      text-align: center;
    }

    &.right {
      align-items: flex-end;
      text-align: left;
    }

    &.right .cta-button {
      margin-right: 0;
    }
  }

  @include media("<tablet") {
    padding: 3rem 1rem 3rem;
    justify-content: center;
    .post-hero-subheading { order: 1; }
    .post-hero-headline { order: 2; }
  }
}

.post-hero-headline {
  font-family: $league;
  letter-spacing: 0.2rem;
  text-transform: uppercase;

  @include media("<tablet") {
    margin: 0 1rem 1rem;
  }
}

.post-hero-subheading {
  max-width: 50rem;
  font-weight: normal;

  .left &,
  .right & {
    min-width: 33%;
    max-width: 40rem;
  }

  @include media("<tablet") {
    margin: 0 0 1rem;
  }
}
