.cta {
  @include color-base;
  @include color-mods;
  @include overlay-element;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: middle;
  background-position: center center;
  background-size: cover;

  &__content {
    padding: auto;
    justify-content: center;
    align-items: center;
  }

  &__heading {
    text-align: center;

    h2 {
      font-family: $league;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 3.6em;
    }
  }

  &__subheading {
    text-align: -webkit-center;
  }

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  &__image {
    width: 60%;
  }

  &__form {
    @include color-base;
    @include color-mods;

    .acf-label,
    .acf-label label {
      @include color-base;
      @include color-mods;

      color: var(--content-color);
    }

    .acf-input {
      background: transparent;
      border: 2px solid --content-color;
      color: --content-color;
    }
  }
}
