/**
* General spacing
*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote,
table {
  @apply mb-4;
}

/**
* Font family
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display;
  @apply uppercase;
  @apply leading-none;
}

h1,
h2 {
  strong {
    @apply font-bold;
  }
}

p,
ol,
ul,
table,
figcaption {
  @apply font-sans;
}

/**
* Text
*/
p,
ul,
ol,
table {
  @apply text-lg;
  @apply text-gray-900;
}

/**
* Blockquote
*/
blockquote {
  @apply pl-2;
  @apply border-l-4;
  @apply border-blue-900;

  p {
    @apply text-gray-900;
    @apply tracking-wider;
    @apply leading-none;
    @apply text-2xl;
    @apply italic;
    @apply font-semibold;
    @apply mb-0;
  }

  cite {
    @apply text-xl;
    @apply tracking-widest;
    @apply not-italic;
    @apply uppercase;
    @apply font-bold;
  }
}

p,
li {
  a {
    @apply border-yellow-900;
    @apply border-b-4;
    @apply transform;
    @apply transition-colors;
    @apply duration-500;

    &:hover {
      @apply border-blue-700;
      @apply transition-colors;
      @apply duration-500;
      @apply ease-in-out;
      @apply bg-blue-500;
    }
  }
}

:root {
  .has-small-font-size {
    font-size: 13px;
  }

  .has-normal-font-size {
    font-size: 16px;
  }

  .has-medium-font-size {
    font-size: 20px;
  }

  .has-large-font-size {
    font-size: 36px;
  }

  .has-huge-font-size {
    font-size: 42px;
  }

  .has-text-align-center {
    text-align: center;
  }

  .has-text-align-left {
    text-align: left;
  }

  .has-text-align-right {
    text-align: right;
  }
}
