$header-height: 5rem;

header {
  // border-bottom: 3px solid rgba($black, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  height: 5.5rem;
  z-index: 10;

  transition: 
    top 0.3s ease-in-out,
    height 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    background-image 0.9s ease-in-out;

  @include media('>phone') {
    height: 5rem;
  }
}

.top-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 75rem;
  height: 100%;
  @include media('>phone') {
    padding: 0 2.625rem;
  }
  @include media('>=widescreen') {
    padding: 0;
  }
}

.logo,
.logo-dark  {
  background-repeat: no-repeat;
  background-size: contain;
  margin: 2rem 1rem 1rem 0;
  width: 7em;
  height: 7rem;
  transition: transform 0.3s ease-in-out;
  @include media('<=phone') {
    // transform: scale(0.8);
    position: absolute;
    top: -2.2rem;
    left: 1rem;
    
    .nav-up & {
      top: -3.2rem;
    }
  }
}


nav {
  display: inline-block;
}

nav .menu-primary-menu-container ul {
  position: relative;
  @extend %listreset;
  font-family: $league;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: right 0.3s ease-in-out,
              opacity 0.3s ease-in-out;
  @include media('<tablet') {
    background-color: $black;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: -100%;
    top: 0;
    opacity: 0;
    // padding-top: 6rem;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    &.is-active {
      opacity: 1;
      right: 0%;
    }
  }

  li a {
    color: $white;
    line-height: 3;
    margin-left: 0rem;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    transition: color 0.3s ease-in-out;
    padding: .5em .5em 0 .5em;

    @include media('<tablet') {
      font-family: "LeagueSpartan-Bold", sans-serif;
      font-size: 1.5rem;
    }

    &::before {
      background-color: $white;
      background-color: $yellow;
      content: "";
      height: 2px;
      position: absolute;
      left: calc(50% - 1.25rem);
      bottom: -0.5rem;
      text-decoration: none;
      width: 100%;
      width: 2.5rem;
      -webkit-transform: scaleX(0);
      -moz-webkit-transform: scaleX(0);
      -o-webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all .3s ease-in-out 0s;
      -moz-webkit-transition: all .3s ease-in-out 0s;
      -o-webkit-transition: all .3s ease-in-out 0s;
      transition: all .3s ease-in-out 0s;
      visibility: hidden;
    }
    &:hover::before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      -moz-webkit-transform: scaleX(1);
      -o-webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
    @include media('>tablet') {
      line-height: initial;
      margin-left: 2rem;
    }
  }
  li {
    ul.sub-menu {
      display: none;
      position: absolute;
      flex-direction: column;
      align-items: flex-start;
      background-color: black;
      margin-left: 2rem;
      min-width: 160px;
      // max-height: 100px;
      &.is-active {
        @include media('<tablet') {
          // display: flex;
          position: relative;
          align-items: flex-end;
          justify-content: flex-end;
          flex-direction: column;
          height: auto;
          width: auto;
          height: auto;
          z-index: 1;
        }
      }
      li {
        margin: .5em 0;
      }
      li a {
        margin-left: 0rem;
        padding-left: .5em;
        &::before {
          display: none;
        }
      }
    }
    
  }
}

.hamburger {
  display: block;
  position: absolute;
  top: 0rem;
  right: 0.5rem;
  transform: scale(0.8);
  outline: none;
  -webkit-tap-highlight-color: transparent;
  @include media('>=tablet') {
    display: none;
  }
  
  &:hover {
    opacity: 1 !important;
    .hamburger-inner {
    &,
    &::before,
    &::after {
        background-color: $yellow;
      }
    }
  }
}

.show {
  display: flex !important;
  -webkit-transition: all .3s ease-in-out 0s;
}

.mobile-sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-up {
  height: 3.5rem;
  background-color: rgba(0,0,0,0.9);
  .logo {
    width: 3.5em;
    height: 3.5rem;
    margin: 0;
  }
}

.nav-down {
// comment in if navbar needs different styles //
// when user is scroll to the top of the page  //
  // background-color: $white;
  // background-image: none;

  // & a {
  //   color: $black !important;
  // }
  // .logo {
  //   display: none;
  // }
  // .logo-dark {
  //   display: block;
  // }
  
  // .hamburger-inner {
  //   &,
  //   &::before,
  //   &::after {
  //     background-color: $black;
  //   }
  // }
}
