.alignfull:not(.override),
.alignwide:not(.override) {
  @apply my-12;
}

.alignwide {
  margin-left: calc(-90vw/2 + 100%/2);
  margin-right: calc(-90vw/2 + 100%/2);
  width: 90vw !important;
  max-width: 90vw !important;

  img {
    width: 90vw !important;
  }
}

.alignfull {
  margin-left: calc(-100vw/2 + 100%/2);
  margin-right: calc(-100vw/2 + 100%/2);
  width: 100vw !important;
  max-width: 100vw !important;

  img {
    width: 100% !important;
    max-width: 100% !important;
  }
}
