/**
* General spacing
*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote,
table {
  @apply mb-4;
}

/**
* Font family
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display;
  @apply uppercase;
  @apply leading-none;
}

p,
ol,
ul,
table,
figcaption {
  @apply font-sans;
}

/**
* Heading styles
*/
h1 {
  @apply text-4xl;
  @apply uppercase;
  @apply font-bold;
  @apply tracking-tight;

  @screen lg {
    @apply text-5xl;
  }

  &.is-style-epic {
    @apply text-4xl;

    @screen md {
      @apply text-5xl;
    }

    @screen lg {
      @apply text-6xl;
    }
  }
}

h2 {
  @apply text-3xl;
  @apply uppercase;
  @apply font-bold;
  @apply tracking-tight;

  @screen lg {
    @apply text-4xl;
  }

  &.is-style-epic {
    @apply text-3xl;

    @screen md {
      @apply text-4xl;
    }

    @screen lg {
      @apply text-5xl;
    }
  }
}

h3 {
  @apply text-2xl;
  @apply uppercase;
  @apply font-bold;
  @apply tracking-tight;
  @apply leading-none;

  &.is-style-epic {
    @apply text-2xl;
    @apply leading-none;

    @screen md {
      @apply text-3xl;
      @apply leading-none;
    }

    @screen lg {
      @apply text-4xl;
      @apply leading-none;
    }
  }
}

h4,
h5,
h6 {
  @apply text-xl;
  @apply uppercase;
  @apply font-bold;
  @apply tracking-tight;
  @apply leading-none;
}

/**
* Text
*/
p,
ul,
ol,
table {
  @apply text-base;
  @apply text-gray-900;
}

/**
* Blockquote
*/
blockquote {
  @apply pl-2;
  @apply border-l-4;
  @apply border-blue;

  p {
    @apply text-black;
    @apply tracking-wider;
    @apply leading-none;
    @apply text-2xl;
    @apply italic;
    @apply font-semibold;
    @apply mb-0;
  }

  cite {
    @apply text-xl;
    @apply tracking-widest;
    @apply not-italic;
    @apply uppercase;
    @apply font-bold;
  }
}

:root {
  /**
   * Font sizes
   */
  .has-small-font-size {
    font-size: 13px;
  }

  .has-normal-font-size {
    font-size: 16px;
  }

  .has-medium-font-size {
    font-size: 20px;
  }

  .has-large-font-size {
    font-size: 36px;
  }

  .has-huge-font-size {
    font-size: 42px;
  }

  /**
   * Text alignments
   */
  .has-text-align-center {
    text-align: center;
  }

  .has-text-align-left {
    text-align: left;
  }

  .has-text-align-right {
    text-align: right;
  }
}
