.wp-block-button {
  @include hover-bg-white;
  @include hover-black;

  > .wp-block-button__link {
    @include pv3;
    @include ph4;
    @include dib;
    @include mb0;
    @include lh-solid;
    @include f6;
    @include b--black-10;
    @include black;
    @include no-underline;
    @include ttu;

    border: 2px solid black;
    transition:
      background-color 0.3s ease-in-out,
      color 0.3s ease-in-out;

    &:hover {
      @include bg-black;
      @include white;

      transition:
        background-color 0.3s ease-in-out,
        color 0.3s ease-in-out;
    }
  }

  &.alignleft {
    @include tl;

    > .wp-block-button__link {
      @include fl;
      @include mt2;
      @include mr4;
    }
  }

  &.alignright {
    @include tr;

    > .wp-block-button__link {
      @include fr;
      @include mt2;
      @include ml4;
    }
  }

  &.aligncenter {
    @include tc;
  }
}
