.wp-block-image {
  img {
    width: 100%;
  }

  figcaption {
    @include tc;
  }

  figure {
    @include ma0;
    @include pa0;

    > figcaption {
      @include pt2;
      @include pr2;
      @include f7;
      @include i;
      @include tc;
    }

    &.alignleft {
      @include w-50;
      @include fl;

      > img {
        @include mt2;
        @include mr4;
      }

      > figure {
        @include cl;
      }

      &::after {
        content: "";
        height: 0;
        clear: both;
      }
    }

    &.alignright {
      @include w-50;
      @include fr;

      > img {
        @include mt2;
        @include mr4;
      }

      > figcaption {
        @include w-50;
        @include fr;
      }

      &::after {
        content: "";
        height: 0;
        clear: both;
      }
    }

    &.aligncenter {
      @include tc;
      @include w-50;
      @include ml-auto;
      @include mr-auto;
    }
  }
}
